<%- include('../partials/header') %>
<body>
<h1>Current Recipe</h1>
    <section id="show-page">
        <div>Title: <%= recipe.title %></div>
        <div>Ingredients: <%= recipe.ingredients %></div>
        <div>Instructions: <%= recipe.instructions %></div>
        <div>Cook Time: <%= recipe.hours %> hour & <%= recipe.mins %> minutes</div>
        <div>Is Gluten Free: <%= recipe.glutenFree ? 'Yes' : 'No' %></div>
    </section>




<% if (user) { %> 
    <h2>Add a Twist</h2>
    <form id="add-rec-form" action="/recipes/<%= recipe._id %>" method="POST">
        <label>Ingredients</label>
        <textarea type="text" name="newIngred" placeholder="Ingredients"></textarea>
        <label>Instructions</label>
        <textarea type="text" name="newInstruct" placeholder="Instructions"></textarea>
        <label>Gluten-Free
        <input value=true type="radio" name="isGF">
        <input value=false type="radio" name="isGF">
        <label>Date</label>
        <input type="datetime-local" name="recDate">
        <input type="submit" value="Submit">
    </form>
<% } else { %>

<span>Please Login To Leave A Recommendation</span>
<% } %>

<% if (recipe.recommendations.length) { %>
    <h2>Try Something New!</h2>
  <table>
    <thead>
        <tr>
            <th>Critic</th>
            <th>Ingredients</th>
            <th>Instructions</th>
            <th>GF</th>
            <th>Date</th>
          </tr>
    </thead>
    <tbody>
      <% recipe.recommendations.forEach(function(recommendation) { %>
        <tr>
          <td><%= recommendation.userName %></td>
          <td><%= recommendation.newIngred %></td>
          <td><%= recommendation.newInstruct %></td>
          <td><%= recommendation.isGF %></td>
          <td><%= recommendation.recDate. %></td>
          
          <td>
        <% if (user && recommendation.userId.equals(user._id)) { %>
            <form method="POST" action="/recommendations/<%= recommendation._id %>?_method=DELETE">
            <button type="submit">Remove</button>
        </form>
        <% }} %>
          </td> 
        </tr>
        <% ) %>
        </tbody>
    </table>
<% } else { %>
  <h5>No Recommendations Yet</h5>
<% } %>



</body>

<%- include('../partials/footer') %>